<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo App API</title>
</head>

<body>
    <h3>Todo App REST API</h3>

    <p>APIs:</p>
    <a href="/todos" target="_blank">GET /todos API</a>
    <p>GET /todos/:id </p>
    <p>POST /todos/ </p>
    <p>DELETE /todos/:id </p>
    <p>PATCH /todos/:id </p>
    <p><a href="/users" target="_blank">GET /users</a> </p>
    <p>POST /users </p>
</body>

</html>